
  
 table tbody tr td .fa-pen-to-square, table tbody tr td .fa-trash{
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }
  table tbody tr td .fa-trash {
    color: red;
  }

  table tbody tr td .fa-trash:hover {
    opacity: 0.3;
  }
  table tbody tr td a:hover {
    text-decoration: none;
  }

  img {
    width: 120px;
    height: 100px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 550px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  .input-style, textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
  }
  
  .input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  
  /* From Uiverse.io by cssbuttons-io */ 
.btnbtn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #FFF;
  background-color: gray;
  width: 200px;
  margin: 0 auto;
}

.btnbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnbtn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnbtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnbtn::after {
  background-color: #FFF;
}

.btnbtn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

  
input[type="file"] {
  /* display: none; */
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 250px;
  transition: all 0.2s;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 150px;
  transition: all 0.2s;
}

.custom-file-upload:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 100px;
  height: 70px;
}