
  
 table tbody tr td .fa-pen-to-square, table tbody tr td .fa-trash{
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }
  table tbody tr td .fa-trash {
    color: red;
  }

  table tbody tr td .fa-trash:hover {
    opacity: 0.3;
  }
  table tbody tr td a:hover {
    text-decoration: none;
  }

  img {
    width: 120px;
    height: 100px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 550px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
  }

  .input-style, textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
  }
  
  .input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  
  /* From Uiverse.io by cssbuttons-io */ 
.btnbtn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #FFF;
  background-color: gray;
  width: 200px;
  margin: 0 auto;
}

.btnbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnbtn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnbtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnbtn::after {
  background-color: #FFF;
}

.btnbtn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

  
input[type="file"] {
  /* display: none; */
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 250px;
  transition: all 0.2s;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 150px;
  transition: all 0.2s;
}

.custom-file-upload:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 100px;
  height: 70px;
}

.span1 {
  text-align: center;
}




/* From Uiverse.io by nikk7007 */ 
.button1 {
  --color: #00A97F;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  margin-bottom: 20px;
  float: right;
  margin-right: 50px;
 }
 
 .button1::before, .button1::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button1::before {
  top: -1em;
  left: -1em;
 }
 
 .button1::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button1:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button1:hover {
  color: rgb(10, 25, 30);
 }
 
 .button1:active {
  filter: brightness(.8);
 }
 